/* theme background */
.theme-dark {
  --background-primary: #372d29;
  --background-secondary: #413632;
}

.theme-light {
  --background-primary: #e1c4a6;
  --background-secondary: #dabb9a;
}

.theme-dark{
  --background-primary-alt: #2b2723;
  --background-secondary-alt: #413632;
}

.theme-light{
    --background-primary-alt: #daba97;
    --background-secondary-alt : #cbaa87;
}

/* ITALICS */
  --interactive-accent: #50fa7b;
/* preview */
em {
  color: var(--interactive-accent);
}

/* editor */
.cm-em {
  color: var(--interactive-accent);
}
